<div>
    <button type="button" class="btn btn-success btn-lg btn-block" ng-click="modalShown = 'true'">Create Room</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Pop.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms">
                <td>{{room.Id}}</td>
                <td>{{room.Name}}</td>
                <td>{{room.Players.lenght}}/{{room.Capacity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<room-modal-form ng-show="modalShown"></room-modal-form>